@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dfb78c;
}

.list {
  @apply w-full hover:text-coffee_3 transition duration-500 mt-5 p-2 border-b border-coffee_3;
}

.awesome {
  letter-spacing: 1px;
  -webkit-text-stroke: 1px #ab6832;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.gridRes {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.boxShadow {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
